body {
  overflow-x: hidden;
  overflow: hidden;
}

body a {
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes xoayvong {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

/* Standard syntax */
@keyframes xoayvong {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

.diamond-css {
  color: red !important;
}

.diamond-js {
  color: red !important;
  animation: xoayvong 2s linear 0s infinite;
  -webkit-animation: xoayvong 2s linear 0s infinite;
  -moz-animation: xoayvong 2s linear 0s infinite;
  -o-animation: xoayvong 2s linear 0s infinite;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    width: 100%;
    display: none;
  }
  .menu .logo {
    height: 100%;
    display: block;
  }
}

.navbar {
  width: 100%;
  padding: 0 !important;
  background: #ececec;
}

.navbar img {
  width: 120px;
}

.banner {
  z-index: 10000;
}

.banner img {
  width: 100%;
  z-index: 10000;
}

.diamond {
  position: relative;
}

.diamond .w3-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8% !important;
  position: relative;
}

.diamond .w3-card-html:hover .overlay {
  display: block;
}

.diamond .w3-card-css:hover .overlay {
  display: block;
}

.diamond .w3-card-js:hover .overlay {
  display: block;
}

.diamond .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 999;
}

.diamond .description p {
  display: none;
  margin: 10%;
  color: #fff;
}

.diamond .overlay {
  opacity: 0.8;
}

.diamond .w3-card-html:hover .icon-dia {
  opacity: 0.3;
}

.diamond .w3-card-html:hover .description {
  top: 0;
  left: 0;
}

.diamond .w3-card-html:hover .description p {
  display: block;
}

.diamond .w3-card-css:hover .icon-dia {
  opacity: 0.3;
}

.diamond .w3-card-css:hover .description {
  top: 0;
  left: 0;
}

.diamond .w3-card-css:hover .description p {
  display: block;
}

.diamond .w3-card-js:hover .icon-dia {
  opacity: 0.3;
}

.diamond .w3-card-js:hover .description {
  top: 0;
  left: 0;
}

.diamond .w3-card-js:hover .description p {
  display: block;
}

.containerr {
  margin: auto !important;
  margin-top: 40px !important;
}

.containerr h2 {
  background-color: #dfe6e9;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
}

.containerr .input-code {
  overflow: hidden;
  border-collapse: collapse;
  padding: 3%;
  background: #fff;
  height: 300px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.containerr .html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px;
}

.containerr .html .col-md-6 {
  padding: 30px;
}

.containerr .html .html-description p {
  background-color: #dfe6e9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.containerr .html .text-scroll::-webkit-scrollbar {
  display: none;
}

.containerr .html .text-scroll-html {
  background-image: url(./../img/b-html50.png);
  background-size: cover;
  background-position: center;
}

.containerr .html .text-scroll-css {
  background-image: url(./../img/b-css50.png);
  background-size: cover;
  background-position: center;
}

.containerr .html .text-scroll-js {
  background-image: url(./../img/b-js50.png);
  background-size: cover;
  background-position: center;
}

.containerr .html .html-example .input-code {
  background-color: #fff;
  border-left: 5px gray solid;
  padding: 15px;
}

.containerr .html .html-example .btn-run {
  width: 100%;
  margin-top: 10px;
  background-color: #2d3436;
  border-color: #2d3436;
}

.containerr .html .html-display {
  background: #fff;
}

.containerr .css {
  background-color: #dfe6e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px;
}

.containerr .css .col-md-6 {
  padding: 30px;
}

.containerr .css .html-description p {
  background-color: #dfe6e9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.containerr .css .text-scroll::-webkit-scrollbar {
  display: none;
}

.containerr .css .text-scroll-html {
  background-image: url(./../img/b-html50.png);
  background-size: cover;
  background-position: center;
}

.containerr .css .text-scroll-css {
  background-image: url(./../img/b-css50.png);
  background-size: cover;
  background-position: center;
}

.containerr .css .text-scroll-js {
  background-image: url(./../img/b-js50.png);
  background-size: cover;
  background-position: center;
}

.containerr .css .html-example .input-code {
  background-color: #fff;
  border-left: 5px gray solid;
  padding: 15px;
}

.containerr .css .html-example .btn-run {
  width: 100%;
  margin-top: 10px;
  background-color: #2d3436;
  border-color: #2d3436;
}

.containerr .css .html-display {
  background: #fff;
}

.containerr .bg {
  background-color: #dfe6e9;
}

.containerr .result-js {
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.btn-primary {
  background-color: #2d3436 !important;
  border-color: #2d3436 !important;
}

.btn-primary:hover {
  background-color: #138792 !important;
}

p {
  color: #000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d3436 !important;
}

.icon-social {
  height: 50px;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-social .a {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-social .a .fab {
  font-size: 30px;
}

.icon-social .a .fab {
  color: #2d3436;
}

.icon-social :hover {
  text-decoration: none;
  animation: xoayvong 2s linear 0s infinite;
  -webkit-animation: xoayvong 2s linear 0s infinite;
  -moz-animation: xoayvong 2s linear 0s infinite;
  -o-animation: xoayvong 2s linear 0s infinite;
}

.icon-social :hover .fab {
  color: #fff;
}

.icon-social .a-fb:hover {
  background: #3b5998;
}

.icon-social .a-gg:hover {
  background: #dd4b39;
}

.icon-social .a-tw:hover {
  background: #55acee;
}

.icon-social .a-pt:hover {
  background: #cb2027;
}

h3 {
  font-size: 18px !important;
}

h2 {
  color: #2d3436;
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-color: black;
  opacity: 0.3;
}

.btn-run-code {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #2d3436;
  border-radius: 50%;
  bottom: 4%;
  right: 4%;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
}

.btn-run-code-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.btn-run-code-a i {
  font-size: 40px;
  color: #fff;
}

.btn-run-code :hover {
  text-decoration: none;
}

.btn-run-code:hover {
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */