body {
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  padding: 0 !important;
  background: #ececec;
}

.navbar img {
  width: 120px;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    width: 100%;
    display: none;
  }
  .menu .logo {
    height: 100%;
    display: block;
  }
}

.part-1-tittle .img-browsers {
  height: 100px;
}

.part-1 .gach .img-gach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part-1 .gach .img-gach img {
  width: 80%;
}

.part-1 .img-ex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part-1-description .exam {
  width: 100%;
}

.part-1-description .exam input {
  width: 5%;
  height: 17%;
}

.part-1-description .w-i-html {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.part-1-tittle .img-browsers {
  height: 100px;
}

.part-1 .gach .img-gach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part-1 .gach .img-gach img {
  width: 80%;
}

.part-1 .img-ex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part-1-description .img-css {
  background-image: url(../img/css.jpg);
  background-size: cover;
  background-position: center;
}

.part-1-description .img-house1 {
  padding: 30%;
  background-image: url(../img/house-html.jpg);
  background-size: cover;
  background-position: center;
}

.part-1-description .img-house2 {
  padding: 30%;
  background-image: url(../img/css-house.jpg);
  background-size: cover;
  background-position: center;
}

.part-1-description .col-md-4 {
  margin-top: 10%;
}

.part-1-description .answer input {
  height: 30px;
}

.part-1-description .answer label {
  margin-right: 4%;
}

p {
  color: #000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212529 !important;
}

.icon-social {
  height: 50px;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-social .a {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-social .a .fab {
  font-size: 30px;
}

.icon-social .a .fab {
  color: #212529;
}

.icon-social :hover {
  text-decoration: none;
  animation: xoayvong 2s linear 0s infinite;
  -webkit-animation: xoayvong 2s linear 0s infinite;
  -moz-animation: xoayvong 2s linear 0s infinite;
  -o-animation: xoayvong 2s linear 0s infinite;
}

.icon-social :hover .fab {
  color: #fff;
}

.icon-social .a-fb:hover {
  background: #3b5998;
}

.icon-social .a-gg:hover {
  background: #dd4b39;
}

.icon-social .a-tw:hover {
  background: #55acee;
}

.icon-social .a-pt:hover {
  background: #cb2027;
}

h3 {
  font-size: 18px !important;
}

.contain-html .silebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
}

.contain-html .silebar p {
  font-size: 14px;
  font-weight: bold;
}

.contain-html .silebar a {
  font-size: 14px;
}

.contain-html .contain-body {
  padding-top: 2%;
  left: 20%;
}

.contain-html .contain-body .row {
  margin-left: 0;
  margin-right: 0;
}

.contain-html .contain-body .part-1 {
  margin: auto;
  margin-top: 7%;
  padding: 0;
}

.contain-html .contain-body .part-1-tittle {
  background-color: #212529;
}

.contain-html .contain-body .part-1-tittle h4 {
  color: #fff;
  font-size: 32px !important;
  padding: 10px;
}

.contain-html .contain-body .part-1-extag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #EEE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain-html .contain-body .part-1-extag span {
  font-weight: bold;
}

.contain-html .contain-body .part-1-description {
  margin-top: 3%;
  width: 100%;
}

.contain-html .contain-body .part-1-description .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contain-html .contain-body .part-1-description .img .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 212px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.contain-html .contain-body .part-1-description .img .a img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: fadeIn 1s both;
          animation: fadeIn 1s both;
  -webkit-transition: .7;
  transition: .7;
}

.contain-html .contain-body .part-1-description .img .a .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5a4e4e;
  opacity: 0.5;
  display: none;
}

.contain-html .contain-body .part-1-description .img .a i {
  position: absolute;
  font-size: 40px;
  color: #5a4e4e;
}

.contain-html .contain-body .part-1-description .img :hover i {
  font-size: 50px;
}

.contain-html .contain-body .part-1-description .img :hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .7;
  transition: .7;
}

.contain-html .contain-body .part-1-description .img :hover .overlay {
  display: block;
}

.contain-html .contain-body .img-web {
  border: 1.5px #ececec solid;
}

.contain-html hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.btn-primary {
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.btn-primary:hover {
  background-color: #138792 !important;
}

h2 {
  color: #212529;
}

video {
  width: 100%;
}

.contain-videos a {
  color: #212529;
  text-decoration: none !important;
}

.contain-videos :hover {
  color: #138792;
}

.contain-videos .form-video {
  padding: 2%;
}

.btn-run-code {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #2d3436;
  border-radius: 50%;
  bottom: 4%;
  right: 4%;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
}

.btn-run-code-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.btn-run-code-a i {
  font-size: 40px;
  color: #fff;
}

.btn-run-code :hover {
  text-decoration: none;
}

.btn-run-code:hover {
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */